run

.recommenders
*/log
*/condor_files
*/trainingSet1
*/bin
*/data
*/output

#Eclipse Projects
.project
.classpath
.settings
.metadata

#Stuff I defined
*.auth
*.command
*.class

#vim
*.swp

#mac stuff
*.DS_Store
